.comm_list {
  /* background-image: linear-gradient(to right, #fff, #fff 50%, #fff 50%); */
  background: linear-gradient(to right, #fff, #fff),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 200% 100%;
  background-position: -100%;
  white-space: nowrap;
  overflow-x: hidden;
  display: block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
}

@supports (-webkit-mask-image: linear-gradient(#352f44, #37343f)) or
  (mask-image: linear-gradient(#352f44, #37343f)) {
  .comm_list::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #37343f 95%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 100%);
  }
}

.comm_list:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.comm_list:hover {
  background-position: 0;
  transform-origin: left;
  transform: scaleX(1);
  -webkit-text-fill-color: #0087ca;
}

.comm_list:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
