.btn {
  padding: 0.8rem;
  margin: 12px 25px;
  border-radius: 50%;
  border: 3px solid #000;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  border: 3px solid #0087ca;
}
