.trending_container {
  width: 100%;
  position: relative;
  padding-top: 1rem;
  background: linear-gradient(to right, #fff, #fff),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.emoji {
  -webkit-text-fill-color: #fff;
}

.trending_header {
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
}

.trending_posts {
  padding: 0.2rem 0.8rem;
}

.header:hover {
  -webkit-text-fill-color: #0087ca;
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.header:hover {
  background-position: 0;
  transform-origin: left;
  transform: scaleX(1);
  -webkit-text-fill-color: #33bbc5;
}

.header:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
