@property --myColor1 {
  syntax: "<color>";
  initial-value: #0087ca;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: #0087ca;
  inherits: false;
}

@property --myColor3 {
  syntax: "<color>";
  initial-value: #0087ca;
  inherits: false;
}

.btn {
  margin: 1rem auto 0rem;
  text-align: center;
  font-family: inherit;
  -webkit-text-fill-color: #fff;
  width: 50%;
  height: 30px;
  border: none;
  background-image: linear-gradient(
    45deg,
    var(--myColor1),
    var(--myColor2),
    var(--myColor3)
  );

  border-radius: 50px;
  cursor: pointer;
  transition: --myColor1 0.4s, --myColor2 0.4s, --myColor3 0.4s;
}

.btn:hover {
  --myColor1: rgba(255, 0, 0, 1);
  --myColor2: rgba(255, 0, 180, 1);
  --myColor3: rgba(0, 100, 200, 1);
}
