.btn {
  padding: 0.8rem;
  margin: 12px 12px;
  border-radius: 50%;
  border: 3px solid #352f44;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #352f44;
  color: #fff;
  border: 3px solid #0087ca;
}

/* .btn {
  padding: 0.9rem;
  margin: 12px 12px;
  border-radius: 50%;
  border: none;
  position: relative;
  background: linear-gradient(to right, #00ffa3, #dc1fff);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background-color: #fff;
  border-radius: calc(50%);
  z-index: -1;
}

.btn::after {
  content: attr(data);
} */
/* 
.btn {
  padding: 0.8rem;
  margin: 12px 12px;
  border-radius: 50%;
  border: 3px solid #352f44;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  position: relative;
  background: #fff;
  background-clip: padding-box;
  border: solid 3px transparent;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: linear-gradient(to right, red, orange); 
} */
