src/styles.css

/* Navbar Styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}
nav {
  background-color: rgb(199, 225, 245);
  color: rgb(12, 6, 120);
  height: 63px;
  position: sticky;
  font-weight: 600;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

#logo {
  position: absolute;
  left: 32px;
  top: -26px;
  width: 153px;
  height: 113px;
}

#image1 {
  max-width: 70%;
  height: 80vh;
  margin-top: 35px;
  position: relative;
  left: 310px;
  top: 30px;
}

ul {
  list-style: none;
  display: flex;
  position: sticky;

  align-items: center;
}
.textspace {
  margin: 0px;
  padding: 2px;
  padding-left: 0px;
  padding-right: 0px;
}

.list-container {
  justify-content: center;
  padding: 6px;
  margin: 2px;
  position: absolute;
  top: 15px;
  left: 514px;
  display: flex;
}
.authenticate {
  position: absolute;
  padding: 6px;
  margin: 2px;
  top: 15px;
  right: 10px;
}

li {
  margin-right: 20px;
  cursor: pointer;
}

/* Section Styles */
section {
  margin: 0;
  padding: 85px;

  background-color: #f5f5f5;

  height: 247px;
}

h2 {
  margin-top: 0;
}

p {
  margin: 0;
}
#imgposition {
  position: absolute;
  right: 71px;
}
#section1 {
  /* background-image: linear-gradient(to right,rgb(83, 83, 231),lightblue); */
  scroll-behavior: smooth;
  margin-top: 20px;
  height: 70vh;
  overflow-x: hidden;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(135, 159, 236) 3%,
    rgba(60, 132, 206, 1) 38%,
    lightblue 68%,
    rgb(83, 83, 231)
  );
  animation: gradient 14s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 17s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 19s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.carousal-card {
  width: 100vw !important;
}
.carousal-card img {
  margin-left: 5%;
  max-width: 25%;
  height: 30%;
  margin: auto;
  margin-top: 1rem;
}

.carousal-box {
  scroll-behavior: smooth;
  width: auto;
  height: 20vh;
  background-color: rgb(237, 246, 246);
}
.carousal-content {
  margin: 3rem;
  text-align: center;
  padding-right: 140px;
  padding-left: 140px;
  color: rgb(18, 18, 122);
}

#section-4 {
  height: 70vh;
  background-color: rgb(237, 246, 246);
}
#LET {
  font-size: 40px;
  color: rgb(18, 18, 122);
}
#LET-CONTENT {
  font-size: 23px;
}
#carousal-box > h1 {
  position: relative;
  top: 20px;
  left: 40px;
  color: rgb(18, 18, 122);
}
.section3-content > h1 {
  font-size: 30px;
  color: rgb(18, 18, 122);
}
#feed-content {
  font-size: 18px;
  color: rgb(18, 18, 122);
}
#section-4 > h1 {
  text-align: center;
  font-size: 35px;
  color: rgb(18, 18, 122);
}

#about-us {
  color: rgb(18, 18, 122);
}
footer {
  background-color: black;
  color: white;
  position: relative;
  top: 25px;
  text-align: center;
}

a {
  scroll-behavior: smooth;

  text-decoration: none;
  background: linear-gradient(to right, rgb(199, 225, 245), rgb(199, 225, 245)),
    linear-gradient(
      to right,
      rgb(41, 15, 102),
      rgb(74, 74, 185),
      rgb(176, 204, 231)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
a:hover {
  background-size: 0 3px, 80% 3px;
}
a:visited {
  color: rgb(12, 6, 120);
}

input {
  font-size: 1.3rem;
  line-height: 1.2;
  padding: 8px;
  margin: 10px;
  min-width: 40%;
}
textarea {
  padding: 8px;
  margin: 10px;
  min-width: 90%;
  min-height: 80px;
}
button {
  background: #83b1d7;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  height: 50px;
  width: 100px;
  margin: auto;
}
button:hover {
  background: #016abc;
  color: #fff;
  cursor: pointer;

  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}
#section5 {
  height: 60%;
  background-color: rgb(255, 255, 255);
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submit-btn {
  text-align: center;
}

#form-design {
  display: flex;
  justify-content: center;
}

#contact {
  text-align: center;
  color: rgb(18, 18, 122);
}
label {
  color: rgb(18, 18, 122);
}
